layout {
    pane {
        split_direction "horizontal"
        pane {
            command "nu"
        }
        pane {
            command "nu"
        }
    }
    pane {
        size 2
        borderless true
        plugin location="zellij:status-bar"
    }
}
